{
        auto_https off
}

:85 {
        root * ./dist/
        file_server

        handle_errors {
          rewrite * /404.html
          templates
          file_server
        }

        reverse_proxy /wisp* localhost:1338
}
